.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    
    &__link {
        &_img {
            display: block;
            margin-bottom: 12px;

            @media (min-width: 580px) {
                margin-bottom: 16px;
            }
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
        aspect-ratio: 7/6;

        @media (min-width: 580px) {
            aspect-ratio: 23/20;

        }
        @media (min-width: 820px) {
            aspect-ratio: 151/125;
            
        }

    }

    &__info {
        flex-grow: 1;

        @media (min-width: 580px) {
            display: flex;
            gap: 5px;
            margin-bottom: 20px;
        }
    }

    &__title {
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 400;

        @media (min-width: 580px) {
            padding-top: 3px;
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    &__price {
        margin-bottom: 12px;
        font-size: 16px;

        @media (min-width: 580px) {
            margin-bottom: 0;
            font-size: 20px;
        }
    }

    &__btn {
        width: 100%;
        color: #780096;
        padding: 12px 24px;
        border: 1px solid #780096;
        border-radius: 32px;
        
        &:hover {
            color: #FFFFFF;
            border-color: #9200B7;
            background-color: #9200B7;
        }
        &:active {
            color: #C0F;
            border-color: #C0F;
            background-color: transparent;

        }
    }

    &__favorite {
        position: absolute;
        top: 12px;
        right: 12px;

        svg {
            fill: #FFFFFF;
        }

        &:hover,
        &_active {
            
            color: #780096;
            svg {
                fill: #780096;
            }
        }
        &:active {
            color: #C0F;
            svg {
                fill: #C0F;
            }        
        }
    }
}

