.order {
    display: flex;
    justify-content: center;


    &__container {
        max-width: 832px;
        width: 100%;
        color:  #1C1C1C;
        border-radius: 16px;
        border: 1px solid #EEEFF2;
        

        @media (min-width: 580px) {
            margin: 0;
            padding: 16px 24px;
        }

        @media (min-width: 820px) {
            margin: 60px 29px 100px 29px;
            padding: 60px 151px;
        }

        @media (min-width: 1120px) {
            padding: 60px 212px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;


        @media (min-width: 580px) {
            flex-direction: column;
        }

        @media (min-width: 820px) {
            flex-direction: row;
        }
    }

    &__header-title {
        margin: 0px;
        font-weight: 400;

        @media (min-width: 580px) {
            font-size: 16px;
        }

        @media (min-width: 820px) {
            font-size: 20px;
        }
    }

    
    &__number-ordering {
        display: inline-flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color:  #1C1C1C;
        font-size: 12px;
        font-weight: 400;
        border-radius: 32px;
        background:  #EEEFF2;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    
    &__info-title {
        color: #1C1C1C;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;
        margin-top: 0px;
    }

    
    &__buttons {
        display: flex;
        justify-content: center;

    }

    &__btn {
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        border-radius: 32px;
        border: 1px solid  #780096;
        background: #780096;
        width: 100%;
        padding: 12px 24px;
        margin-top: 24px;

        &:hover {
            background-color: #9200b7;
        }
    
        &:focus-visible {
        border-color: #c0f;
        }
    }
}
