.table {
  width: 100%;
  border-collapse: collapse;

  &__row {
    border-bottom: 1px solid #eeeff2;
  }

  &__field {
    padding: 8px 0;
    color: #969eae;
  }

  &__value {
    padding: 8px 0;
    text-align: right;
    color: #1c1c1c;
  }
}
